@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
h1{
    color: white;
    text-align: center;
    background-color: #3F8A77;
    font-size: 48px;
}
p{
    color: rgb(37, 37, 37);
    text-align: justify;
    font-size: 24px;
}
.quote{
    margin: 100px 50px 50px 50px;
    padding: 20px;
    border: 3px solid gray;
    background-color: #E76F51;
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

table{
    margin:  auto;
    width: 60%;
    align-items: center;
    text-align: left;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 24px;
    border-spacing: 10px; 
    border: 1px solid grey;
}
table th{
    padding: 50px;
    background-color: #3F8A77;
    color: white;
}

table td{
    padding: 30px;
    background-color: white;
    color: black;  
}

#img-biography{
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
}
.biography{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
    
}

.biography p{
    margin-left: 50px;
    width: 60%;
    font-family: 'Lucida Sans', sans-serif;
}

.fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.item-fila{
    padding: 50px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;
    background-color: #3F8A77;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}
.item-grid{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
    background-color:grey;
}
 .titulo{
    background-color: #3F8A77;
    color: white;
}